@import "variables"
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap')
//@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap')
//@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200&display=swap')

*
	font-family: 'Roboto', sans-serif
//font-family: 'Anton', sans-serif
//font-family: 'Yanone Kaffeesatz', sans-serif
a
	color: inherit

body
	font-family: sans-serif
	color: white
	background: $background-color

.noselect
	-webkit-touch-callout: none
	/* iOS Safari */
	-webkit-user-select: none
	/* Safari */
	-khtml-user-select: none
	/* Konqueror HTML */
	-moz-user-select: none
	/* Old versions of Firefox */
	-ms-user-select: none
	/* Internet Explorer/Edge */
	user-select: none

@media (min-width: $mobile-breakpoint)
	.menu-button
		transform: translateX(200px) !important

.header
	position: absolute
	top: 0
	left: 0
	right: 0
	z-index: 10
	background: transparentize($background-color, 0.2)
	height: $header-height
	color: white
	background: #212121
	display: flex
	align-items: center
	justify-content: flex-end
	overflow: hidden
	transition-duration: 500ms
	transition-timing-function: ease-out
	transition-property: all

	&.extended
		background: transparentize($background-color, 0.5)
		backdrop-filter: blur(7px)
		-webkit-backdrop-filter: blur(7px)
		height: 100vh
		z-index: 50

		/* ANIMATION */







		.menu-button
			transform: scale(.7) translate(18px, -21px) rotate(180deg)

		.menu-button .menu-button__burger
			transform: translateX(-50px)
			background: transparent
			box-shadow: none

		.menu-button .menu-button__burger::before
			transform: rotate(45deg) translate(35px, -35px)

		.menu-button .menu-button__burger::after
			transform: rotate(-45deg) translate(35px, 35px)

	@media (max-width: $mobile-breakpoint)
		flex-direction: column
		justify-content: flex-start
		align-items: flex-end
		background: none

	.menu-button
		transform: scale(.7) translate(18px, -21px)
		position: fixed
		top: 0
		right: 0
		display: flex
		justify-content: center
		align-items: center
		width: 80px
		height: 80px
		cursor: pointer
		transition: all .5s ease-in-out

	.menu-button__burger
		width: 50px
		height: 6px
		background: #fff
		border-radius: 5px
		box-shadow: 0 2px 5px rgba(255, 101, 47, .2)
		transition: all .5s ease-in-out

	.menu-button__burger::before,
	.menu-button__burger::after
		content: ''
		position: absolute
		width: 50px
		height: 6px
		background: #fff
		border-radius: 5px
		box-shadow: 0 2px 5px rgba(255, 101, 47, .2)
		transition: all .5s ease-in-out

	.menu-button__burger::before
		transform: translateY(-16px)

	.menu-button__burger::after
		transform: translateY(16px)


	a
		color: inherit
		text-decoration: inherit
		font-weight: lighter
		cursor: pointer

		@media (min-width: $mobile-breakpoint)
			margin-right: 10px
			padding-right: 10px
			padding-left: 10px
			height: $header-height
			line-height: $header-height
			text-align: center

			&.active
				color: $primary-color

			&:hover
				background-color: #252525

		@media (max-width: $mobile-breakpoint)
			font-size: min(8vw, 50px)
			margin-top: 10px
			padding-right: 10px
			text-align: right
			width: 100%

			&.active
				background-color: transparentize($primary-color, 0.9)
				font-weight: normal
				color: $primary-color

			&:nth-of-type(1)
				margin-top: 70px

	img
		position: relative
		height: $header-height
		width: $header-height
		object-fit: contain
		margin-right: auto
		margin-left: $side-margin


#v0
	position: fixed
	left: 0
	top: 0
	width: 100vw
	height: 100vh
	object-fit: cover
	z-index: -1
